@font-face {
    font-family: "SF_Text";
    src: url("../fonts/SF_Pro.OTF") format("opentype");
  }

  @font-face {
    font-family: "SF_Italic";
    src: url("../fonts/SF_Italic.OTF") format("opentype");
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    font-family: "SF_Text", Arial, Helvetica, sans-serif;
}

.container header {
    background-color: rgba(16, 16, 16, 0.9);
    position: fixed;
    width: 100%;
    z-index: 9999;
    /** Glassmorphism **/
   /*  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.container header nav {
    align-items: center;
    justify-content: center;
}

.container header nav ul {
    display: flex;
    padding: 14px 0px;
}

.container header nav ul li {
    list-style-type: none;
    flex-grow: 0.1;
}

.container header nav ul li a  {
    text-decoration: none;
    color: rgb(179, 179, 179);
    padding: 15px;
    font-size: 16px;
}

/* .container header nav ul li a:hover  {
    color: red;
    background-color: pink;
} */

/**Icon Modify **/
.container header nav ul .logo {
    /* margin-right: 190px; */
    flex-grow: 10;
}
.container header nav ul li a .fa-brands.fa-apple {
    font-size: 20px;
    color: rgb(231, 231, 231);
    
}

/*** Hide List ***/
.container header nav ul .categories {
    display: none;
}


/** All Articles **/

.container article {
    margin-top: 10px;
    /* background: papayawhip; */
    height: 80vh;
}

.container .fa-solid.fa-chevron-right {
    color: #0066CC;
}

.container article .text {
    padding: 58px 40px 10px 40px;
    background-color: whitesmoke;
    text-align: center;
}



.container main .ads .ad_message {
    text-align: center;
    padding-top: 40px;
}

.container main .ads .ad_message h1, h2 {
    letter-spacing: 2px;
}

.container main .ads .ad_message h1 {
    font-size: 33px;
}

.container main .ads .ad_message h2 {
    font-size: 18px;
}

.container main .ads .ad_message .links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
}

.container main .ads .ad_message .links p {
    margin: 0px 15px;
}






/** Article 1 **/
.container main a {
    text-decoration: none;
    color: #0066CC;
}

.container main .hero {
    background: none;
    margin: 0;
    margin-bottom: 10px;
    height: 100%;
}

.container main .hero .text {
    padding: 58px 40px 10px 40px;
    background-color: whitesmoke;
    text-align: center;
}

.container main .hero .text p {
    line-height: 1.5;
    font-size: 13.3px;
    letter-spacing: 1px;
}

.container main .hero .ads {
    height: 90vh;
    background: url("../img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container main .hero .ads.ads_1 .ad_message h2, h1 {
    color: white;
}

/** Article 2 **/

.container main .image_1 {
    background: url("../img/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container main .image_1 .ads.ads_2 .ad_message h1 {
    color: #101010;
}

.container main .image_1 .ads.ads_2 .ad_message h2 {
    color: #101010;
}


/** Article 3 **/

.container main .image_2 {
    background: url("../img/image2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container main .image_2 .ads.ads_3 .ad_message h1 {
    color: white;
    font-size: 24px;
}

.container main .image_2 .ads.ads_3 .ad_message h3 {
    color: rgb(209, 6, 6);
    margin-bottom: 10px;
    font-size: 9px;
    letter-spacing: 2.5px;
}


.container main .image_2 .ads.ads_3 .ad_message h2 {
    color: white;
    font-size: 15px;
}


/** Article 4 (ALL SECTIONS MODIFICATION)**/
.container main .ad_images { 
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.container main .ad_images .section {
    display: flex;
    flex-direction: column;
}

.container main .ad_images .section .box {
    height: 80vh;
    margin-top: 10px;
    background: greenyellow;
}




/** Box 1 **/
.container main .ad_images .section .box.box1 {
    background: url("../img/image4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container main .ad_images .section .box.box1 .ads .ad_message h1 {
    font-size: 28px;
}

.container main .ad_images .section .box.box1 .ads .ad_message h2 {
    margin-top: 5px;
    color: whitesmoke;
    font-size: 16px;
}


/** Box 2 **/
.container main .ad_images .section .box.box2 {
    background: url("../img/image5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container main .ad_images .section .box.box2 .ads .ad_message h1 {
    font-size: 28px;
}
.container main .ad_images .section .box.box2 .ads .ad_message h2 {
    color: whitesmoke;
    font-size: 16px;
    margin-top: 10px;
}


/** Box 3 **/
.container main .ad_images .section .box.box3 {
    background: url("../img/image6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container main .ad_images .section .box.box3 .ads .ad_message h2 {
    font-size: 16px;
    margin-top: 10px;
}



/** Box 4 **/
.container main .ad_images .section .box.box4 {
    background: url("../img/image7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.container main .ad_images .section .box.box4 .ads {
    position: relative;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
}

.container main .ad_images .section .box.box4 .ads .ad_message h2 {
    font-size: 16px;
    margin-top: 10px;
    color: whitesmoke;
}




/** Box 5 **/
.container main .ad_images .section .box.box5 {
    background: url("../img/image8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.container main .ad_images .section .box.box5 .ads .ad_message h1 {
    color: #101010;
}

.container main .ad_images .section .box.box5 .ads .ad_message h2 {
    font-size: 20px;
    margin-top: 10px;
    color: #101010;
}


/** Box 6 **/

.container main .ad_images .section .box.box6 {
    background: url("../img/image9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.container main .ad_images .section .box.box6 .ads .ad_message h1 span {
    margin: 0;
    border: 0;
    padding: 0;
    background: linear-gradient(to right, 
    #FF0000, #FFA500, #FFFF00, #008000, #0000FF, #4B0082, #EE82EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container main .ad_images .section .box.box6 .ads .ad_message h2 {
    color: whitesmoke;
    margin-top: 10px;
    font-size: 16px;
    
}


/** Footer **/
footer {
    margin-top: 10px;
    background: #f0f0f0;
}


footer .links {
    padding: 15px;
}

footer .links ul {
    display: none;
}

footer .links li {
    list-style-type: none;
}

footer .links a {
    text-decoration: none;
}


footer .links section hr {
    border-color: #dfdede;
}

footer .links section a {
    display: flex;
    padding: 8px 0;
    color: #6E6373;
}

footer .links section a .category {
    flex-grow: 15;
}

footer .links section a i {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}










/** Outside P **/
footer .links .contact, .country {
    margin-top: 10px;
    color: #6E6373;
    font-size: 14px;
}

footer .links .contact a {
    color: #0066CC;
}

footer .links .country {
    color: #424245;
}

footer .links .line-rule {
    display: none;
}

footer .links .copyright {
    margin-top: 10px;
}

footer .links .copyright p {
    color: #6E6373;
    font-size: 14px;
}



/** Footer Links **/



footer .links .copyright .footer-links ul {
    display: flex;
}

footer .links .copyright .footer-links ul li {
    font-size: 12px;
}

footer .links .copyright .footer-links ul li a  {
    padding: 4px;
    color: #0066CC;
}


footer .links .copyright .flag {
    display: none;
}
