* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container header  {
    background-color: rgba(0, 0, 0, 0.6);
}

.container header nav {
    padding: 15px 30px;
}

.container header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container header nav ul li {
    margin: 0 18px;
    list-style-type: none;
}

.container header nav ul li a  {
    font-family: monospace;
    text-decoration: none;
    color: whitesmoke;
    
}